<style>
.container-sale{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.saleDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.saleDetails img{
  height: 250px;
  border-radius: 15%;
}
.informations{
  margin-left: 10%;
  background-color: #121318;
  color: #ffffff;
  padding: 0 15%;
  border-radius: 15%;
}
.informations p{
  font-size: 120%;
}
</style>
<app-header></app-header>
<div class="container-sale">
  <h1>Leilão Fazenda Novo Carú</h1>
  <div class="saleDetails">
    <img src="../assets/images/leilão-01.jpeg" alt="Imagem do Leilão">
    <div class="informations">
      <p>Data:16/11/21</p>
      <p>Horario:08:00</p>
      <p>Local:Recinto de exposições</p>
      <p>Telefone:98944878784</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
