
<style>
  .container-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container-button a{
    width: 250px;
    height: 40px;
    padding: 25%;
    background-color: #121318;
    color: #ffffff;
    border-radius: 10%;
    cursor: pointer;
    text-decoration: none;
  }
  .login{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
  }
  .login img{
    width: 150px;
    height: 100px;
    margin-bottom: 10%;
  }
  .login h2{
    color: grey;
  }
  .login input{
    width: 85%;
    height: 7%;
    margin-bottom: 8%;
  }
  .login button{
    width: 310px;
    height: 40px;
    border-radius: 15px;
    background-color: #006400;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  }
  .img{
    margin-left: 20%;
  }
  .img img{
    width: 550px;
    height: 610px;
  }
</style>
<div class="container-login">
  <div class="container-button">
    <a href="/">Voltar</a>
  </div>
  <div class="login">
    <img src="../assets/images/bid365-logo.png" alt="Logo Bid365">
    <h2>Informe seus dados abaixo</h2>
    <label for="email">Email</label>
    <input type="text" name="" value="">
    <label for="senha">Senha</label>
    <input type="password" name="" value="">
    <button type="button" name="button">Entrar</button>
  </div>
  <div class="img">
    <img src="../assets/images/logo-fazenda-02.jpg" alt="Imagem Fazenda">
  </div>
</div>
